<%- include('layauts/header') %>

<body class="main-body leftmenu">

    <%- include('layauts/loader') %> 

    <!-- Page -->
    <div class="page main-signin-wrapper bg-primary construction">

        <div class="container ">
            <div class="construction1 text-center details text-white">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <h1 class="tx-140 mb-0">404</h1>
                    </div>
                    <div class="col-lg-12 ">
                        <h1>Oops. La página que estás buscando no existe...</h1>
                        <h6 class="tx-15 mt-3 mb-4 text-white-50">Es posible que haya escrito mal la dirección o que la página se haya movido. Intente buscar a continuación.</h6>
                        <a class="btn ripple btn-success text-center" href="/">Regresar al inicio</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Page -->

<%- include('layauts/footer') %> 

	