<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="assetsInicio/css/desarrollo.css" />
        <link rel="stylesheet" href="assetsInicio/css/general.css" />
        <title>Digiworld | <%- nombrePagina %></title>
        <link
            rel="icon"
            type="image/png"
            href="assetsDashboard/img/aloneCapzaWhite.svg"
        />
    </head>
    <body>
        <%- include('layauts/head') %>

        <main class="main">
            <figure>
                <img src="assetsInicio/img/iconL.svg" alt="" />
            </figure>
        </main>
        <section class="objective">
            <article class="objective_l">
                <div class="objective_l-itm">
                    <div class="objective_itm-circles"></div>
                </div>
                <div class="objective_l-itm2 objective_l-itm">
                    <div class="objective_itm-circles"></div>
                </div>
            </article>
            <article class="objective_c">
                <p>
                    Nuestro objetivo es apoyarte, impulsarte dentro del mercado
                    con agilidad, por esto, desarrollamos soluciones de valor en
                    poco tiempo a través del trabajo colaborativo. <br />
                    <br />
                    La transparencia, inspección y adaptación son los pilares de
                    nuestra metodología, las claves para garantizar el éxito en
                    cada proyecto.
                </p>
            </article>
            <article class="objective_r">
                <div class="objective_l-itm2 objective_l-itm">
                    <div class="objective_itm-circles"></div>
                </div>
                <div class="objective_l-itm objective_l-itm3">
                    <div class="objective_itm-circles"></div>
                </div>
            </article>
        </section>
        <section class="char">
            <article class="char_itm">
                <article class="chair_itm-circle"></article>
                <div></div>
                <h3>Arquitectura</h3>
                <p>
                    Nuestra empresa se compromete con cada uno de sus proyectos,
                    nos especializamos en el desarrollo de sitios web
                    personalizados completamente administrables, páginas web,
                    diseño gráfico y mucho más.
                </p>
            </article>
            <article class="char_itm">
                <article class="chair_itm-circle"></article>
                <div></div>
                <h3>Soporte</h3>
                <p>
                    Nuestra empresa se compromete con cada uno de sus proyectos,
                    nos especializamos en el desarrollo de sitios web
                    personalizados completamente administrables, páginas web,
                    diseño gráfico y mucho más.
                </p>
            </article>
            <article class="char_itm char_itm3">
                <article class="chair_itm-circle"></article>
                <div></div>
                <h3>Escalamiento</h3>
                <p>
                    Nuestra empresa se compromete con cada uno de sus proyectos,
                    nos especializamos en el desarrollo de sitios web
                    personalizados completamente administrables, páginas web,
                    diseño gráfico y mucho más.
                </p>
            </article>
        </section>
        <section class="lenguages">
            <article class="lenguajes_itm">
                <figure class="lenguajes_itm-figure">
                    <img src="" alt="" class="lenguajes_itm-img" />
                </figure>
                <div class="lenguajes_itm-dec"></div>
                <h4 class="lenguajes_itm-title">React</h4>
            </article>
            <article class="lenguajes_itm">
                <figure class="lenguajes_itm-figure">
                    <img src="" alt="" class="lenguajes_itm-img" />
                </figure>
                <div class="lenguajes_itm-dec"></div>
                <h4 class="lenguajes_itm-title">React</h4>
            </article>
            <article class="lenguajes_itm">
                <figure class="lenguajes_itm-figure">
                    <img src="" alt="" class="lenguajes_itm-img" />
                </figure>
                <div class="lenguajes_itm-dec"></div>
                <h4 class="lenguajes_itm-title">React</h4>
            </article>
            <article class="lenguajes_itm">
                <figure class="lenguajes_itm-figure">
                    <img src="" alt="" class="lenguajes_itm-img" />
                </figure>
                <div class="lenguajes_itm-dec"></div>
                <h4 class="lenguajes_itm-title">React</h4>
            </article>
            <figure class="lengaujes_itm-relative">
                <img src="" alt="" />
            </figure>
        </section>
        <section class="code_bk">
            <article class="code">
                <div class="code_col code_col1"></div>
                <div class="code_col code_col2">
                    <div class="code_col-rec"></div>
                    <div class="code_col-rec"></div>
                    <div class="code_col-rec"></div>
                    <div class="code_col-rec"></div>
                    <div class="code_col-rec"></div>
                    <div class="code_col-rec"></div>
                    <div class="code_col-rec"></div>
                </div>
                <div class="code_col code_col3">
                    <div class="code_col-header">
                        <div class="code-header-itm code-header-itm1">
                            <p>Desarrollo.digiw</p>
                            <div class="code-header-circle"></div>
                        </div>
                        <div class="code-header-itm code-header-itm2">
                            <p>nosotros.digiw</p>
                            <div class="code-header-circle"></div>
                        </div>
                        <div class="code-header-itm code-header-itm3">
                            <p>experiencia.digiw</p>
                            <div class="code-header-circle"></div>
                        </div>
                    </div>
                    <div class="code_content">
                        <div class="code_content-line-c">
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                            <div class="code_content-line"></div>
                        </div>
                        <div class="code_content-description">
                            <div class="code_description-code">
                                <p class="code_description">Using System;</p>
                                <p class="code_description">class HolaMundo{</p>
                                <p class="code_description-space">
                                    Public static void
                                </p>
                                <p class="code_description">
                                    Main(string[] args){
                                </p>
                                <p class="code_description-space">
                                    Public Console.WriteLine("Hola mundo")
                                </p>
                                <p class="code_description">}</p>
                                <p class="code_description">}</p>
                            </div>
                            <div class="code_description-d">
                                <div class="code_d-line">
                                    <div
                                        class="code_d-line-c code_d-line-l"
                                    ></div>
                                    <div
                                        class="code_d-line-l code_d-line-l1"
                                    ></div>
                                    <div
                                        class="code_d-line-l code_d-line-l2"
                                    ></div>
                                    <div
                                        class="code_d-line-l code_d-line-l3"
                                    ></div>
                                </div>
                                <p>
                                    Nuestra empresa se compromete con cada uno
                                    de sus proyectos, nos especializamos en el
                                    desarrollo de sitios web personalizados
                                    completamente administrables, páginas web,
                                    diseño gráfico y mucho más.
                                </p>
                            </div>
                            <div class="code_description-out">
                                <div class="code_out-line">
                                    <div
                                        class="code_out-line-l code_out-line-l1"
                                    ></div>
                                    <div
                                        class="code_out-line-l code_out-line-l2"
                                    ></div>
                                    <div
                                        class="code_out-line-l code_out-line-l3"
                                    ></div>
                                    <div
                                        class="code_out-line-l code_out-line-l4"
                                    ></div>
                                    <div
                                        class="code_out-line-l code_out-line-l5"
                                    ></div>
                                    <div
                                        class="code_out-line-l code_out-line-l6"
                                    ></div>
                                </div>
                                <div class="nsqcpn">
                                    <h4>Oursoursing - CISO</h4>
                                    <p>
                                        Nuestra empresa se compromete con cada
                                        uno de sus proyectos, nos especializamos
                                        en el desarrollo de sitios web
                                        personalizados completamente
                                        administrables, páginas web, diseño
                                        gráfico y mucho más
                                    </p>
                                </div>
                            </div>
                            <div class="code_description-compromise">
                                <div class="code_compromise-line">
                                    <div class="code_compromise-line-l"></div>
                                    <div class="code_compromise-line-c"></div>
                                </div>
                                <div class="code_compromise-text">
                                    <p>
                                        Nuestra empresa se compromete con cada
                                        uno de sus proyectos, nos especializamos
                                        en el desarrollo de sitios web
                                        personalizados completamente
                                        administrables, páginas web, diseño
                                        gráfico y mucho más
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section class="app">
            <article class="app_arrow-l">
                <figure>
                    <img src="assetsInicio/img/arrow2.svg" alt="" />
                </figure>
            </article>
            <article class="app_center">
                <div class="app_center-itm">
                    <figure>
                        <img src="assetsInicio/img/blumer.png" alt="" />
                    </figure>
                </div>
                <div class="app_center-itm">
                    <figure>
                        <img src="assetsInicio/img/payments.png" alt="" />
                    </figure>
                </div>
                <div class="app_center-itm">
                    <figure>
                        <img src="assetsInicio/img/colombo.png" alt="" />
                    </figure>
                </div>
                <div class="app_center-itm">
                    <figure>
                        <img src="assetsInicio/img/rational.png" alt="" />
                    </figure>
                </div>
                <div class="app_center-itm">
                    <figure>
                        <img src="assetsInicio/img/divisa.svg" alt="" />
                    </figure>
                </div>
            </article>
            <article class="app_arrow-r">
                <figure>
                    <img src="assetsInicio/img/arrow2.svg" alt="" />
                </figure>
            </article>
        </section>
        <%- include('layauts/foot') %>
    </body>
</html>
