<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="assetsInicio/css/general.css" />
        <link rel="stylesheet" href="assetsInicio/css/nosotrosR.css" />

        <title>Digiworld | <%- nombrePagina %></title>
        <link
            rel="icon"
            type="image/png"
            href="assetsDashboard/img/aloneCapzaWhite.svg"
        />
    </head>
    <body>
        <%- include('layauts/head') %>
        <main>
            <figure>
                <img src="" alt="" />
            </figure>
        </main>
        <section class="concept">
            <h3>Concepto <br />Concepto</h3>
            <p>
                A través del diseño queremos proyectar a tu negocio hacia el
                éxito, posicionaremos tu marca y te ayudaremos a introducirte en
                el mercado de la mejor manera.
            </p>
        </section>
        <section class="knowledge">
            <h3>Conocimientos</h3>
            <article class="knowledge_itm">
                <h4>Branding</h4>
                <div class="knowledge_itm-orange"></div>
                <div class="knowledge_itm-blue"></div>
            </article>
        </section>
        <section class="identity">
            <article>
                <ul>
                    <li>Inicio</li>
                    <li>Identidad visual</li>
                    <li>3D/2D</li>
                    <li>Diseño web</li>
                    <li>Publicidad</li>
                </ul>
            </article>
            <article>
                <div>
                    <figura><img src="" alt="" /></figura>
                </div>
                <div>
                    <figura><img src="" alt="" /></figura>
                </div>
                <div>
                    <figura><img src="" alt="" /></figura>
                </div>
                <div>
                    <figura><img src="" alt="" /></figura>
                </div>
                <div>
                    <figura><img src="" alt="" /></figura>
                </div>
                <div>
                    <figura><img src="" alt="" /></figura>
                </div>
            </article>
        </section>
        <section class="programs">
            <article class="programs_itm">
                <figure><img src="" alt="" /></figure>
            </article>
        </section>
        <section class="description">
            <p>
                El equipo de diseño cuenta con conocimiento avanzados en la
                utilización de herramientas especializadas para garantizar
                agilidad y buen desempeño en los procesos, ajustándose a las
                necesidades de cada proyecto.
            </p>
        </section>
        <section class="sliderPeople">
            <article>
                <figure>
                    <img src="" alt="" />
                </figure>
            </article>
            <article class="sliderPeople_center">
                <div class="sliderPeople_center-orange"></div>
                <div class="sliderPeople_center-person">
                    <figure><img src="" alt="" /></figure>
                    <h4 class="sliderPeople_center-person">Diego Gamboa</h4>
                    <p class="sliderPeople_center-title">Diseñador Grafico</p>
                </div>
            </article>
            <article class="sliderPeopleRigth">
                <p class="sliderPeopleRigth_p">
                    Como diseñadora soy consiente de que cada detalle cuenta,
                    desde los elementos gráficos hasta el contenido escrito;
                    garantizar la calidad de los elementos que componen una
                    pieza es crucial para el desarrollo de un buen proyecto.
                </p>
            </article>
        </section>
        <section class="ourServices">
            <h3 class="ourServices_title">Our Services</h3>
            <p class="ourServices_description">
                El mercado se encuentra en constante evolución, ante esto, es
                necesario comprender tu negocio, reconocer las necesidades de
                este y fijar metas y objetivos claros para lograr comunicarse y
                posicionar tu marca de forma adecuada.
            </p>
        </section>
        <section class="about">
            <article class="about_itm">
                <h3 class="about_itm-title">Co</h3>
                <p class="about_itm-subtitle">Concepto</p>
                <p class="about_itm-char">
                    Te ayudamos a encaminar tu negocio hacia el éxito.
                </p>
            </article>
        </section>
        <%- include('layauts/foot') %>
    </body>
</html>
