<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="assetsInicio/css/general.css" />
        <link rel="stylesheet" href="assetsInicio/css/design.css" />

        <title>Digiworld | <%- nombrePagina %></title>
        <link rel="icon" type="image/png" href="/icon/icon.svg" />
    </head>
    <body>
        <%- include('layauts/head') %>
        <main class="main">
            <figure>
                <img src="./assetsInicio/img/iconL.svg" alt="" />
            </figure>
        </main>
        <section class="concept">
            <h3>
                Design <br />
                <span>For world </span>
            </h3>
            <p>
                A través del diseño queremos proyectar a tu negocio hacia el
                éxito, posicionaremos tu marca y te ayudaremos a introducirte en
                el mercado de la mejor manera.
            </p>
        </section>
        <section class="knowledge">
            <h3>Conocimientos</h3>
            <article class="knowledge_itm">
                <h4>Branding</h4>
                <div class="knowledge_itm-orange"></div>
                <div class="knowledge_itm-blue"></div>
            </article>
            <article class="knowledge_itm">
                <h4>Animación</h4>
                <div class="knowledge_itm-orange"></div>
                <div class="knowledge_itm-blue"></div>
            </article>
            <article class="knowledge_itm">
                <h4>Diseño <br />Web</h4>
                <div class="knowledge_itm-orange"></div>
                <div class="knowledge_itm-blue"></div>
            </article>
            <article class="knowledge_itm">
                <h4>Publicidad</h4>
                <div class="knowledge_itm-orange"></div>
                <div class="knowledge_itm-blue"></div>
            </article>
        </section>
        <section class="identity">
            <h3>Identidad Visual</h3>
            <article class="identity_sections">
                <ul>
                    <li class="identity_section-child">Inicio</li>
                    <li>Identidad visual</li>
                    <li>3D/2D</li>
                    <li>Diseño web</li>
                    <li>Publicidad</li>
                </ul>
            </article>
            <article class="identity_cards">
                <div class="identity_cards-itm">
                    <figure class="identity_cards-figure">
                        <img
                            src="https://cdn.dribbble.com/users/427857/screenshots/17316311/media/803edad6168d76dfe29664e7fedf62d3.png"
                            alt=""
                        />
                    </figure>
                </div>
                <div class="identity_cards-itm">
                    <figure class="identity_cards-figure">
                        <img
                            src="https://cdn.dribbble.com/users/3416941/screenshots/17434700/media/96c020f287606d5e279ba2e48499fa85.jpg?compress=1&resize=1200x900&vertical=top"
                            alt=""
                        />
                    </figure>
                </div>
                <div class="identity_cards-itm">
                    <figure class="identity_cards-figure">
                        <img
                            src="https://cdn.dribbble.com/users/8037018/screenshots/17434750/media/ab67c179202785d2c26b34612c704781.jpg?compress=1&resize=1200x900&vertical=top"
                            alt=""
                        />
                    </figure>
                </div>
                <div class="identity_cards-itm">
                    <figure class="identity_cards-figure">
                        <img
                            src="https://cdn.dribbble.com/users/3036385/screenshots/17434305/media/23728cf240dd93a007967292e1342589.png?compress=1&resize=1200x900&vertical=top"
                            alt=""
                        />
                    </figure>
                </div>
                <div class="identity_cards-itm">
                    <figure class="identity_cards-figure">
                        <img
                            src="https://cdn.dribbble.com/users/4973619/screenshots/17435113/media/1aa155bebbf185477b761f24837c1414.png?compress=1&resize=1200x900&vertical=top"
                            alt=""
                        />
                    </figure>
                </div>
                <div class="identity_cards-itm">
                    <figure class="identity_cards-figure">
                        <img
                            src="https://cdn.dribbble.com/users/6083079/screenshots/16908947/media/92cdf6206941e5ed01c334999225812c.png?compress=1&resize=1200x900&vertical=top"
                            alt=""
                        />
                    </figure>
                </div>
            </article>
        </section>
        <section class="programs">
            <article class="programs_itm">
                <figure>
                    <img
                        src="assetsInicio/img/DesignPrograms/AdobePhotoshop.png"
                        alt=""
                    />
                </figure>
            </article>
            <article class="programs_itm">
                <figure>
                    <img
                        src="assetsInicio/img/DesignPrograms/illustrator.png"
                        alt=""
                    />
                </figure>
            </article>
            <article class="programs_itm">
                <figure>
                    <img
                        src="assetsInicio/img/DesignPrograms/AdobePremiere.png"
                        alt=""
                    />
                </figure>
            </article>
            <article class="programs_itm">
                <figure>
                    <img
                        src="assetsInicio/img/DesignPrograms/AdobeXd.png"
                        alt=""
                    />
                </figure>
                <article class="programs_itm"></article>
            </article>
            <article class="programs_itm">
                <figure>
                    <img
                        src="assetsInicio/img/DesignPrograms/AdobeAF.png"
                        alt=""
                    />
                </figure>
            </article>
            <article class="programs_itm">
                <figure>
                    <img
                        src="assetsInicio/img/DesignPrograms/AdobeInDesign.png"
                        alt=""
                    />
                </figure>
            </article>
            <article class="programs_itm">
                <figure>
                    <img
                        src="assetsInicio/img/DesignPrograms/cinema.png"
                        alt=""
                    />
                </figure>
            </article>
            <article class="programs_itm">
                <figure>
                    <img
                        src="assetsInicio/img/DesignPrograms/blender.png"
                        alt=""
                    />
                </figure>
            </article>
        </section>
        <section class="lineOrange">
            <article class="lineOrange_line">
                <div class="lineOrange_line-circle"></div>
            </article>
        </section>
        <section class="description">
            <p>
                El equipo de diseño cuenta con conocimiento avanzados en la
                utilización de herramientas especializadas para garantizar
                agilidad y buen desempeño en los procesos, ajustándose a las
                necesidades de cada proyecto.
            </p>
        </section>
        <section class="sliderPeople">
            <article class="sliderPeople_icon">
                <p>D</p>
            </article>
            <article class="sliderPeople_center">
                <div class="sliderPeople_center-orange"></div>
                <div class="sliderPeople_center-person">
                    <figure>
                        <img
                            src="https://images.unsplash.com/photo-1574100004472-e536d3b6bacc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                            alt=""
                        />
                    </figure>
                    <p class="sliderPeople_center-Person">Diego Gamboa</p>
                    <h4 class="sliderPeople_center-title">Diseñador Grafico</h4>
                </div>
            </article>
            <article class="sliderPeopleRigth">
                <p class="sliderPeopleRigth_p">
                    Como diseñadora soy consiente de que cada detalle cuenta,
                    desde los elementos gráficos hasta el contenido escrito;
                    garantizar la calidad de los elementos que componen una
                    pieza es crucial para el desarrollo de un buen proyecto.
                </p>
            </article>
        </section>

        <section class="our">
            <article class="about_title">
                <h3 class="about_title-h3">
                    Nuestro <br />
                    <span> Proceso </span>
                </h3>
                <p class="about_title-p">
                    El mercado se encuentra en constante evolución, ante esto,
                    es necesario comprender tu negocio, reconocer las
                    necesidades de este y fijar metas y objetivos claros para
                    lograr comunicarse y posicionar tu marca de forma adecuada.
                </p>
            </article>
        </section>
        <section class="about">
            <article class="about_itm about_itm-Especial">
                <h3 class="about_itm-title about_itm-title-Especial">Co</h3>
                <p class="about_itm-subtitle about_itm-subtitle-Especial">
                    Concepto
                </p>
                <p class="about_itm-char about_itm-char-Especial">
                    Te ayudamos a encaminar tu negocio hacia el éxito.
                </p>
            </article>
            <article class="about_itm about_itm1">
                <h3 class="about_itm-title about_itm-title2">Pt</h3>
                <p class="about_itm-subtitle">Concepto</p>
                <p class="about_itm-char">
                    Te ayudamos a encaminar tu negocio hacia el éxito.
                </p>
            </article>
            <article class="about_itm about_itm2">
                <h3 class="about_itm-title about_itm-title3">Cm</h3>
                <p class="about_itm-subtitle">Concepto</p>
                <p class="about_itm-char">
                    Te ayudamos a encaminar tu negocio hacia el éxito.
                </p>
            </article>
            <article class="about_itm about_itm3">
                <h3 class="about_itm-title about_itm-title4">Cr</h3>
                <p class="about_itm-subtitle">Concepto</p>
                <p class="about_itm-char">
                    Te ayudamos a encaminar tu negocio hacia el éxito.
                </p>
            </article>
            <article class="about_itm about_itm4">
                <h3 class="about_itm-title about_itm-title5">In</h3>
                <p class="about_itm-subtitle">Concepto</p>
                <p class="about_itm-char">
                    Te ayudamos a encaminar tu negocio hacia el éxito.
                </p>
            </article>
            <article class="about_itm about_itm5">
                <h3 class="about_itm-title about_itm-title6">Me</h3>
                <p class="about_itm-subtitle">Concepto</p>
                <p class="about_itm-char">
                    Te ayudamos a encaminar tu negocio hacia el éxito.
                </p>
            </article>
        </section>
        <%- include('layauts/foot') %>
    </body>
</html>
