<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assetsInicio/css/index.css" />

    <title>Digiworld | <%- nombrePagina %></title>
    <link
      rel="icon"
      type="image/png"
      href="assetsDashboard/img/aloneCapzaWhite.svg"
    />
  </head>
  <body>
    <%- include('layauts/head') %>
    <section class="main_article-logo">
      <figure><img src="./assetsInicio/img/iconL.svg" alt="" /></figure>
    </section>
    <main class="main">
      <section class="main_content">
        <article class="main_article-l main_article">
          <h3 class="article-l_title">¿Qué necesitas?</h3>
          <p class="article-l_description">
            Sabemos lo valioso que es cada minuto, por eso en Digiworld, lo que
            necesitas está a tan solo un par de clics, aquí encontrarás desde
            servicios de outsourcing hasta soluciones de diseño, todo en un
            mismo lugar.
          </p>
          <div class="article_width">
            <a href="" class="article-l_buton">
              <button class="generalButton">Ir al inicio</button>
            </a>
          </div>
        </article>
        <article class="main_article main_article-r">
          <article class="article-r_cards article-r_cards_backend">
            <div class="cards-backend-container">
              <figure class="cards-backend_figure">
                <img src="" alt="" />
              </figure>
              <div class="cards-backend_line"></div>
            </div>
            <h4>Backend</h4>
            <div class="line_back"></div>
          </article>
          <article class="article-r_cards article-r_cards_blockchain">
            <div class="cards-backend-container">
              <figure class="cards-backend_figure">
                <img src="" alt="" />
              </figure>
              <div class="cards-backend_line cards-backend_line2"></div>
            </div>
            <h4>Blockchain</h4>
            <div class="line_back"></div>
          </article>
          <article class="article-r_cards article-r_cards_frontend">
            <div class="cards-backend-container">
              <figure class="cards-backend_figure">
                <img src="" alt="" />
              </figure>
              <div class="cards-backend_line cards-backend_line2"></div>
            </div>
            <h4>Frontend</h4>
            <div class="line_back"></div>
          </article>
          <article class="article-r_cards article-r_cards_backend_design">
            <div class="cards-backend-container">
              <figure class="cards-backend_figure">
                <img src="" alt="" />
              </figure>
              <div class="cards-backend_line cards-backend_line2"></div>
            </div>
            <h4>Diseño</h4>
            <div class="line_back"></div>
          </article>
          <article class="article-r_cards article-r_cards_backend_mobile">
            <div class="cards-backend-container">
              <figure class="cards-backend_figure">
                <img src="" alt="" />
              </figure>
              <div class="cards-backend_line cards-backend_line2"></div>
            </div>
            <h4>Desarrollo móvil</h4>
            <div class="line_back"></div>
          </article>
        </article>
      </section>
    </main>
  </body>
</html>
