<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="assetsInicio/css/general.css" />
        <link rel="stylesheet" href="assetsInicio/css/nosotrosR.css" />

        <title>Digiworld | <%- nombrePagina %></title>
        <link
            rel="icon"
            type="image/png"
            href="assetsDashboard/img/aloneCapzaWhite.svg"
        />
    </head>
    <body>
        <%- include('layauts/head') %>
        <main class="slider">
            <section class="slider_circle"></section>
            <section class="content">
                <article class="content_column1">
                    <div class="content_skills">
                        <p>Ux/ Ui</p>
                        <div class="content_background">
                            <div class="content_background-circle"></div>
                        </div>
                    </div>
                    <div class="content_skills">
                        <p>Ux/ Ui</p>
                        <div class="content_background">
                            <div class="content_background-circle"></div>
                        </div>
                    </div>
                    <div class="content_skills">
                        <p>Ux/ Ui</p>
                        <div class="content_background">
                            <div class="content_background-circle"></div>
                        </div>
                    </div>
                </article>
                <article class="content_column2">
                    <div class="content_center content_center1"></div>
                    <figure class="content_center content_center2">
                        <img
                            src="https://images.unsplash.com/photo-1552058544-f2b08422138a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=699&q=80"
                            alt=""
                            srcset=""
                        />
                    </figure>
                    <div class="content_center content_center3"></div>
                </article>
                <article class="content_column3">
                    <div class="content_skills">
                        <p>Ux/ Ui</p>
                        <div class="content_background">
                            <div class="content_background-circle"></div>
                        </div>
                    </div>
                </article>
            </section>
        </main>
    </body>
</html>
