<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="assetsInicio/css/general.css" />
        <link rel="stylesheet" href="assetsInicio/css/nosotrosR.css" />

        <title>Digiworld | <%- nombrePagina %></title>
        <link
            rel="icon"
            type="image/png"
            href="assetsDashboard/img/aloneCapzaWhite.svg"
        />
    </head>
    <body>
        <%- include('layauts/head') %>
        <main class="slider">
            <section class="slider_circle"></section>
            <section class="content">
                <article class="content_column1">
                    <div class="content_skills">
                        <p>Ux/ Ui</p>
                        <div class="content_background">
                            <div class="content_background-circle"></div>
                        </div>
                    </div>
                    <div class="content_skills">
                        <p>Ux/ Ui</p>
                        <div class="content_background">
                            <div class="content_background-circle"></div>
                        </div>
                    </div>
                    <div class="content_skills">
                        <p>Ux/ Ui</p>
                        <div class="content_background">
                            <div class="content_background-circle"></div>
                        </div>
                    </div>
                </article>
                <article class="content_column2">
                    <div class="content_center content_center1"></div>
                    <figure class="content_center content_center2">
                        <img
                            src="https://images.unsplash.com/photo-1552058544-f2b08422138a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=699&q=80"
                            alt=""
                            srcset=""
                        />
                    </figure>
                    <div class="content_center content_center3"></div>
                </article>
                <article class="content_column3">
                    <div class="content_skills">
                        <div class="content_background">
                            <div class="content_background-circle"></div>
                        </div>
                        <p>Ux/ Ui</p>
                    </div>
                </article>
            </section>
        </main>
        <section class="methodology">
            <article class="methodology_l">
                <h3>Metología<br /><span>Scrum</span></h3>
            </article>
            <article class="methodology_r">
                <p>
                    Nuestro objetivo es apoyarte, impulsarte dentro del mercado
                    con agilidad, por esto, desarrollamos soluciones de valor en
                    poco tiempo a través del trabajo colaborativo.
                    <br />
                    <br />
                    La transparencia, inspección y adaptación son los pilares de
                    nuestra metodología, las claves para garantizar el éxito en
                    cada proyecto.
                </p>
            </article>
        </section>
        <section class="ourTeam">
            <figure>
                <img
                    src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                    alt=""
                />
            </figure>
            <article class="ourTeam_r">
                <p>
                    Nuestro catálogo de soluciones es variado, siempre estamos
                    dispuestos a ayudarte, trabajaremos de la mano para llevar a
                    tu empresa al siguiente nivel.
                </p>
                <h5>Digiworld</h5>
            </article>
        </section>
        <section class="architecture">
            <article class="architecture_circles architecture_circles1">
                <div class="architecture_circles-int">
                    <figure>
                        <img
                            src="assetsInicio/img/nosotros_icono-l.svg"
                            alt=""
                        />
                    </figure>
                </div>
            </article>
            <article class="architecture_circles architecture_circles2">
                <div class="architecture_circles-int">
                    <figure>
                        <img
                            src="assetsInicio/img/nosotros_icono-c.svg"
                            alt=""
                        />
                    </figure>
                </div>
            </article>
            <article class="architecture_circles architecture_circles3">
                <div class="architecture_circles-int">
                    <figure>
                        <img
                            src="assetsInicio/img/nosotros_icono-r.svg"
                            alt=""
                        />
                    </figure>
                </div>
            </article>
            <p class="architecture_text architecture_text1">arquitectura</p>
            <p class="architecture_text architecture_text2">arquitectura</p>
            <p class="architecture_text architecture_text3">arquitectura</p>
            <section class="architecture_absoulute">
                <div
                    class="architecture_absoulute-circle architecture_absoulute-circle1"
                ></div>
                <div
                    class="architecture_absoulute-circle architecture_absoulute-circle2"
                ></div>
                <div
                    class="architecture_absoulute-circle architecture_absoulute-circle3"
                ></div>
                <div
                    class="architecture_absoulute-circle architecture_absoulute-circle4"
                ></div>
            </section>
        </section>
        <section class="purposes">
            <article class="purposes_itm purposes_itm1">
                <div class="purposes_itm-circle">
                    <figure>
                        <img
                            src="assetsInicio/img/language_black_24dp.svg"
                            alt=""
                        />
                    </figure>
                </div>
                <p>
                    Nuestro gran compromiso nos ha permitido ampliar nuestro
                    portafolio y fortalecer nuestras habilidades; puedes confiar
                    en que tu proyecto está en las mejores manos.
                </p>
            </article>
            <article class="purposes_itm purposes_itm2">
                <div class="purposes_itm-circle">
                    <figure>
                        <img
                            src="assetsInicio/img/date_range_black_24dp.svg"
                            alt=""
                        />
                    </figure>
                </div>
                <p>
                    Tu eres parte esencial de tus proyectos, tendrás el control
                    total y podrás realizar seguimiento a la evolución de estos.
                </p>
            </article>
            <article class="purposes_itm purposes_itm3">
                <div class="purposes_itm-circle">
                    <figure>
                        <img
                            src="assetsInicio/img/task_alt_black_24dp.svg"
                            alt=""
                        />
                    </figure>
                </div>
                <p>
                    Los miembros de nuestro equipo cuentan con las capacidades y
                    experiencia necesarias para la materialización de proyectos
                    a diferentes escalas, te brindamos el apoyo y soporte que
                    necesitas.
                </p>
            </article>
            <article class="purposes_itm purposes_itm4">
                <div class="purposes_itm-circle">
                    <figure>
                        <img
                            src="assetsInicio/img/timeline_black_24dp.svg"
                            alt=""
                        />
                    </figure>
                </div>
                <p>
                    Para nosotros la calidad de tus proyectos es elemental y por
                    esto trabajamos en cada detalle, cada proyecto es único, te
                    garantizamos el mejor rendimiento.
                </p>
            </article>
        </section>
        <section class="team">
            <article class="team_header">
                <div class="team_header-l">
                    <div class="team-header_sb">
                        <h3>Equipo</h3>
                        <span> Digiworld</span>
                    </div>
                </div>
                <div class="team_header-r">
                    <span>Cada uno de nuestros componentes</span>
                </div>
            </article>
            <section class="team_all-container">
                <article class="team_all">
                    <figure class="team_all-figure">
                        <img
                            src="assetsInicio/img/esteban.png"
                            alt=""
                            class="team_all-img"
                        />
                    </figure>
                    <h5 class="team_all-person">Esteban Baquero</h5>
                    <span class="team_all-profesion">CEO</span
                    ><button class="team_all-button">Saber más</button>
                </article>
                <article class="team_all">
                    <figure class="team_all-figure">
                        <img
                            src="assetsInicio/img/nilson.png"
                            alt=""
                            class="team_all-img"
                        />
                    </figure>
                    <h5 class="team_all-person">Nilson Ariza</h5>
                    <span class="team_all-profesion">Administración</span
                    ><button class="team_all-button">Saber más</button>
                </article>
                <article class="team_all">
                    <figure class="team_all-figure">
                        <img
                            src="assetsInicio/img/juan.png"
                            alt=""
                            class="team_all-img"
                        />
                    </figure>
                    <h5 class="team_all-person">Juan Baquero</h5>
                    <span class="team_all-profesion">Líder Frontend</span
                    ><button class="team_all-button">Saber más</button>
                </article>
                <article class="team_all">
                    <figure class="team_all-figure">
                        <img
                            src="assetsInicio/img/dilan.png"
                            alt=""
                            class="team_all-img"
                        />
                    </figure>
                    <h5 class="team_all-person">Dilan Ariza</h5>
                    <span class="team_all-profesion">Líder Backend</span
                    ><button class="team_all-button">Saber más</button>
                </article>
                <article class="team_all">
                    <figure class="team_all-figure">
                        <img
                            src="assetsInicio/img/james.png"
                            alt=""
                            class="team_all-img"
                        />
                    </figure>
                    <h5 class="team_all-person">James Tellez</h5>
                    <span class="team_all-profesion">Líder en CMS</span
                    ><button class="team_all-button">Saber más</button>
                </article>
                <article class="team_all">
                    <figure class="team_all-figure">
                        <img
                            src="assetsInicio/img/cristian.png"
                            alt=""
                            class="team_all-img"
                        />
                    </figure>
                    <h5 class="team_all-person">Cristian Cavanzo</h5>
                    <span class="team_all-profesion">Full Stack Developer</span
                    ><button class="team_all-button">Saber más</button>
                </article>
                <article class="team_all">
                    <figure class="team_all-figure">
                        <img
                            src="assetsInicio/img/diego.png"
                            alt=""
                            class="team_all-img"
                        />
                    </figure>
                    <h5 class="team_all-person">Diego Gamboa</h5>
                    <span class="team_all-profesion">Director Creativo</span
                    ><button class="team_all-button">Saber más</button>
                </article>
                <article class="team_all">
                    <figure class="team_all-figure">
                        <img
                            src="assetsInicio/img/hadith.png"
                            alt=""
                            class="team_all-img"
                        />
                    </figure>
                    <h5 class="team_all-person">Hadith Solano</h5>
                    <span class="team_all-profesion">Diseñadora Gráfica</span
                    ><button class="team_all-button">Saber más</button>
                </article>
            </section>
        </section>
        <section class="app">
            <article class="app_arrow-l">
                <figure>
                    <img src="assetsInicio/img/arrow2.svg" alt="" />
                </figure>
            </article>
            <article class="app_center">
                <div class="app_center-itm">
                    <figure>
                        <img src="assetsInicio/img/blumer.png" alt="" />
                    </figure>
                </div>
                <div class="app_center-itm">
                    <figure>
                        <img src="assetsInicio/img/payments.png" alt="" />
                    </figure>
                </div>
                <div class="app_center-itm">
                    <figure>
                        <img src="assetsInicio/img/colombo.png" alt="" />
                    </figure>
                </div>
                <div class="app_center-itm">
                    <figure>
                        <img src="assetsInicio/img/rational.png" alt="" />
                    </figure>
                </div>
                <div class="app_center-itm">
                    <figure>
                        <img src="assetsInicio/img/divisa.svg" alt="" />
                    </figure>
                </div>
            </article>
            <article class="app_arrow-r">
                <figure>
                    <img src="assetsInicio/img/arrow2.svg" alt="" />
                </figure>
            </article>
        </section>
        <%- include('layauts/foot') %>
    </body>
</html>
