<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="assetsInicio/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assetsInicio/css/animate.min.css" />
    <link rel="stylesheet" href="assetsInicio/css/fontawesome.min.css" />
    <link rel="stylesheet" href="assetsInicio/css/flaticon.css" />
    <link rel="stylesheet" href="assetsInicio/css/magnific-popup.min.css" />
    <link rel="stylesheet" href="assetsInicio/css/nice-select.css" />
    <link rel="stylesheet" href="assetsInicio/css/slick.min.css" />
    <link rel="stylesheet" href="assetsInicio/css/meanmenu.css" />
    <link rel="stylesheet" href="assetsInicio/css/odometer.min.css" />
    <link rel="stylesheet" href="assetsInicio/css/style.css" />
    <link rel="stylesheet" href="assetsInicio/css/responsive.css" />
    <link rel="stylesheet" href="assetsInicio/css/owl.carousel.css" />
    <link rel="stylesheet" href="assetsInicio/css/owl.carousel.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="/assetsDashboard/plugins/sweet-alert/sweetalert.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.1.9/dist/css/splide.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="assetsDashboard/css/recover.css" />
    <title>Capza |</title>
    <link
      rel="icon"
      type="image/png"
      href="assetsDashboard/img/aloneCapzaWhite.svg"
    />
  </head>
  <body>
    <%- include('layauts/loader') %> <%- include('layauts/head') %>
    <section class="section-recuperar">
      <form action="" class="form_recovery" id="recuperarPassword">
        <h2>Recuperar Contraseña</h2>
        <form action="">
          <article class="form_container-input">
            <label for="">Ingrese su correo electronico</label>
            <input
              type="email"
              name="emailRecuperar"
              id="emailRecuperar"
              placeholder="Ingrese su Email"
            />
          </article>
          <article class="form_buttons">
            <button type="button" onclick="recuperarPassword()">
              recuperar
            </button>
          </article>
        </form>
      </form>
    </section>

    <script src="/assetsDashboard/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="/assetsDashboard/plugins/sweet-alert/jquery.sweet-alert.js"></script>
    <script>
      const globalLoader = document.getElementById("global-loader");

      recuperarPassword = () => {
        globalLoader.className = "d-block";
        const emailRecuperar = document.getElementById("emailRecuperar").value;

        fetch("/ingreso/recuperarPassword", {
          method: "POST",
          headers: { "Content-type": "application/json" },
          body: JSON.stringify({
            emailRecuperar: emailRecuperar,
          }),
        })
          .then((res) => res.text())
          .then((data) => {
            globalLoader.classList.remove("d-block");
            const respuesta = JSON.parse(data);
            if (respuesta.resp === "success") {
              swal(
                {
                  title: respuesta.titulo,
                  text: respuesta.descripcion,
                  type: respuesta.resp,
                  confirmButtonColor: "#57a94f",
                  closeOnClickOutside: false,
                },
                function (isConfirm) {
                  if (isConfirm) {
                    location.href = "/ingreso";
                  }
                }
              );
            } else {
              swal({
                title: respuesta.titulo,
                text: respuesta.descripcion,
                type: respuesta.resp,
                confirmButtonColor: "#fd6074",
              });
            }
          });
      };
    </script>
    <%- include('layauts/foot') %>
  </body>
</html>
