<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="assetsInicio/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assetsInicio/css/animate.min.css" />
    <link rel="stylesheet" href="assetsInicio/css/fontawesome.min.css" />
    <link rel="stylesheet" href="assetsInicio/css/flaticon.css" />
    <link rel="stylesheet" href="assetsInicio/css/magnific-popup.min.css" />
    <link rel="stylesheet" href="assetsInicio/css/nice-select.css" />
    <link rel="stylesheet" href="assetsInicio/css/slick.min.css" />
    <link rel="stylesheet" href="assetsInicio/css/meanmenu.css" />
    <link rel="stylesheet" href="assetsInicio/css/odometer.min.css" />
    <link rel="stylesheet" href="assetsInicio/css/style.css" />
    <link rel="stylesheet" href="assetsInicio/css/responsive.css" />
    <link rel="stylesheet" href="assetsInicio/css/owl.carousel.css" />
    <link rel="stylesheet" href="assetsInicio/css/owl.carousel.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.1.9/dist/css/splide.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="assetsDashboard/css/recover.css" />
    <title>Capza |</title>
    <link rel="icon" type="image/png" href="assetsInicio/img/icono.svg" />
  </head>
  <body>
    <%- include('layauts/head') %>
    <section>
      <form action="" class="form_recovery">
        <h2>Recuperar Contraseña</h2>
        <form action="">
          <article class="form_container-input">
            <label for="">Ingrese su correo electronico</label>
            <input type="email" name="emailRecuperar" id="emailRecuperar" />
          </article>
          <article class="form_buttons"></article>
        </form>
      </form>
    </section>

    <%- include('layauts/foot') %>
  </body>
</html>
