<header
  style="
    width: 100%;
    background-color: #ffc813;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  "
>
  <figure>
    <img src="../public/assetsDashboard/img/ingreso.jpg" alt="Capza Icon" />
  </figure>
</header>
<div
  style="
    background: #404040;
    margin: 0;
    padding: 1 px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffc813;
    padding: 180px 0;
  "
>
  <h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif">
    Confirmar tu cuenta
  </h1>

  <p style="font-family: Arial, Helvetica, sans-serif">
    Hola! estas a un paso de poder empezar a trabajar con
    <storng>Capza</storng>, solo debes confirmar tu cuenta a través del
    siguiente enlace:
  </p>

  <a
    style="
      display: block;
      font-family: Arial, Helvetica, sans-serif;
      padding: 1rem;
      background-color: #ffc300;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      color: #404040;
      border-radius: 8px;
    "
    href="<%= url %>"
    >Confirmar tu cuenta</a
  >

  <p style="font-family: Arial, Helvetica, sans-serif">
    Si no puesdes acceder a este enlace, visita: <%= url %>
  </p>
  <p style="font-family: Arial, Helvetica, sans-serif">
    Si no solicitaste este E-mail puedes ignorarlo
  </p>
</div>
<footer
  style="
    background: #545454;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <figure>
    <img src="" alt="IconFooter" />
  </figure>
</footer>
