<h1 style="
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
">Recuperar Contraseña</h1>

<p style="font-family: Arial, Helvetica, sans-serif;">¡Oh no, parece que has olvidado tu contraseña de <storng>Capza</storng>: </p>

<p style="font-family: Arial, Helvetica, sans-serif;">Lo entendemos, seguramente tienes muchas otras contraseñas por recordar, esta es tu nueva contraseña:</p>

<a style="
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    background-color: #4600c8;
    color: #fff;
    text-align: center;
    text-decoration: none;
"><%= newPassword %></a>

<p style="font-family: Arial, Helvetica, sans-serif;">Recuerda que esta contraseña es temporal, en la sección "Mi Perfil", podras cambiarla como desees.</p>

<p style="font-family: Arial, Helvetica, sans-serif;">Si no solicitaste este E-mail puedes ignorarlo</p>