


<%for (let i = 0; i < qrMediosPago.length; i++) {%>
<article style='background-color: #303030; height: auto; width: 100%; padding: 32px; display: flex; align-items: center; justify-content: center; flex-direction: column; justify-self: center;'>
    <h3 style='color: #fff;'>
        <%=qrMediosPago[i].dataValues.nombre%>
    </h3>
    <img src="<%=qrMediosPago[i].dataValues.codigoQR%>" style='width: 150px;' alt="">
    <p>
    </p>
</article>
<%}%>

