<!-- Main Footer-->
<div class="main-footer text-center">
    <div class="container">
        <div class="row row-sm">
            <div class="col-md-12">
                <span>Copyright © <%- year %> <a href="/">Il Salone</a>. Todos los derechos reservados.</span>
            </div>
        </div>
    </div>
</div>
<!--End Footer-->