        <!-- Back-to-top -->
        <a href="#top" id="back-to-top"><i class="fe fe-arrow-up"></i></a>

        <!-- Jquery js-->
        <script src="/assetsDashboard/plugins/jquery/jquery.min.js"></script>

        <!-- Bootstrap js-->
        <script src="/assetsDashboard/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Jquery-Ui js-->
        <script src="/assetsDashboard/plugins/jquery-ui/ui/widgets/datepicker.js"></script>

        <!-- Internal Jquery-steps js-->
        <script src="/assetsDashboard/plugins/jquery-steps/jquery.steps.min.js"></script>

        <!-- Internal Accordion-Wizard-Form js-->
        <script src="/assetsDashboard/plugins/accordion-Wizard-Form/jquery.accordion-wizard.min.js"></script>

        <!-- Internal Form-wizard js-->
        <script src="/assetsDashboard/js/form-wizard.js"></script>

        <!-- Internal Jquery.maskedinput js-->
        <script src="/assetsDashboard/plugins/jquery.maskedinput/jquery.maskedinput.js"></script>

        <!-- Internal Specturm-colorpicker js-->
        <script src="/assetsDashboard/plugins/spectrum-colorpicker/spectrum.js"></script>

        <!-- Internal Ion-rangeslider js-->
        <script src="/assetsDashboard/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>

        <!-- Internal Daternagepicker js-->
        <script src="/assetsDashboard/plugins/bootstrap-daterangepicker/moment.min.js"></script>
        <script src="/assetsDashboard/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

        <!-- Internal Sweet-Alert js-->
        <script src="/assetsDashboard/plugins/sweet-alert/sweetalert.min.js"></script>
        <script src="/assetsDashboard/plugins/sweet-alert/jquery.sweet-alert.js"></script>

        <!-- Internal Fileuploads js-->
        <script src="/assetsDashboard/plugins/fileuploads/js/fileupload.js"></script>
        <script src="/assetsDashboard/plugins/fileuploads/js/file-upload.js"></script>

        <!-- InternalFancy uploader js-->
        <script src="/assetsDashboard/plugins/fancyuploder/jquery.ui.widget.js"></script>
        <script src="/assetsDashboard/plugins/fancyuploder/jquery.fileupload.js"></script>
        <script src="/assetsDashboard/plugins/fancyuploder/jquery.iframe-transport.js"></script>
        <script src="/assetsDashboard/plugins/fancyuploder/jquery.fancy-fileupload.js"></script>
        <script src="/assetsDashboard/plugins/fancyuploder/fancy-uploader.js"></script>

        <!-- Internal Form-elements js-->
        <script src="/assetsDashboard/js/advanced-form-elements.js"></script>
        <script src="/assetsDashboard/js/select2.js"></script>
        <script src="/assetsDashboard/js/form-elements.js"></script>

        <!-- Internal TelephoneInput js-->
        <script src="/assetsDashboard/plugins/telephoneinput/telephoneinput.js"></script>
        <script src="/assetsDashboard/plugins/telephoneinput/inttelephoneinput.js"></script>

        <!-- Internal Chart.Bundle js-->
        <script src="/assetsDashboard/plugins/chart.js/Chart.bundle.min.js"></script>

        <!-- Internal Data Table js -->
        <script src="/assetsDashboard/plugins/datatable/jquery.dataTables.min.js"></script>
        <script src="/assetsDashboard/plugins/datatable/dataTables.bootstrap4.min.js"></script>
        <script src="/assetsDashboard/plugins/datatable/dataTables.responsive.min.js"></script>
        <script src="/assetsDashboard/plugins/datatable/fileexport/dataTables.buttons.min.js"></script>
        <script src="/assetsDashboard/plugins/datatable/fileexport/buttons.bootstrap4.min.js"></script>
        <script src="/assetsDashboard/plugins/datatable/fileexport/jszip.min.js"></script>
        <script src="/assetsDashboard/plugins/datatable/fileexport/pdfmake.min.js"></script>
        <script src="/assetsDashboard/plugins/datatable/fileexport/vfs_fonts.js"></script>
        <script src="/assetsDashboard/plugins/datatable/fileexport/buttons.html5.min.js"></script>
        <script src="/assetsDashboard/plugins/datatable/fileexport/buttons.print.min.js"></script>
        <script src="/assetsDashboard/plugins/datatable/fileexport/buttons.colVis.min.js"></script>
        <script src="/assetsDashboard/js/table-data.js"></script>

        <!-- Peity js-->
        <script src="/assetsDashboard/plugins/peity/jquery.peity.min.js"></script>

        <!-- Select2 js-->
        <script src="/assetsDashboard/plugins/select2/js/select2.min.js"></script>

        <!-- Perfect-scrollbar js -->
        <script src="/assetsDashboard/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

        <!-- Sidemenu js -->
        <script src="/assetsDashboard/plugins/sidemenu/sidemenu1.js"></script>

        <!-- Sidebar js -->
        <script src="/assetsDashboard/plugins/sidebar/sidebar.js"></script>

        <!-- Internal Morris js -->
        <script src="/assetsDashboard/plugins/raphael/raphael.min.js"></script>
        <script src="/assetsDashboard/plugins/morris.js/morris.min.js"></script>

        <!-- Circle Progress js-->
        <script src="/assetsDashboard/js/circle-progress.min.js"></script>
        <script src="/assetsDashboard/js/chart-circle.js"></script>

        <!-- Internal Dashboard js-->
        <script src="/assetsDashboard/js/index.js"></script>

        <!-- Sticky js -->
        <script src="/assetsDashboard/js/sticky.js"></script>

        <!-- Modal js-->
        <script src="/assetsDashboard/js/modal.js"></script>

        <!-- Custom js -->
        <script src="/assetsDashboard/js/custom.js"></script>

        <!-- Icheck -->
        <script src="/assetsDashboard/js/icheck.js"></script>

        <!-- Trix -->
        <script src="/assetsDashboard/js/trix.js"></script>

        <!-- Copiar a Portapapeles -->
        <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.3/dist/clipboard.min.js"></script>

        <!-- Moments JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- Tiny Slider JS -->
        <script src="/assetsDashboard/js/owlcarousel/owl.carousel.min.js"></script>

        <!-- Socket IO -->
        <!-- <script src="/socket.io/socket.io.js"></script> -->

        <!--Bootstrap-datepicker js-->
        <script src="/assetsDashboard/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>

        <!-- Internal jquery-simple-datetimepicker js -->
        <script src="/assetsDashboard/plugins/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js"></script>

        <!-- Js -->
        <script src="/assetsDashboard/js/main.js"></script>

        </body>

        </html>