<!-- Loader -->
<div id="global-loader" style="background-color: #eaedf7;">
    <img src="/assetsDashboard/img/gif-full1.gif" class="loader-img" alt="Loader" style="width: 75px; height: 75px;">
</div>
<!-- End Loader -->