<!-- Sidebar -->
<audio id="sonido" src="/assetsDashboard/sound/notificacion.mp3" preload="auto"></audio>
<div class="sidebar sidebar-right sidebar-animate">
    <div class="sidebar-icon">
        <a href="#" class="text-right float-right text-light fs-20" data-toggle="sidebar-right" data-target=".sidebar-right"><i class="fe fe-x"></i></a>
    </div>
    <div class="sidebar-body">
        <h5 class="text-uppercase" style="background-color: #25243c; color: #fff;"><i class="fe fe-bell"></i> Notificaciones</h5>
        <!-- Bajo Pedido -->
        <h5 class="mb-0">Cuentas bajo pedido (<span id="countBajoPedido">0</span>)</h5>
        <section id="cuentasBajoPedido"></section>
        <!-- Personalizadas -->
        <h5 class="mb-0">Cuentas personalizadas (<span id="countPersonalizadas">0</span>)</h5>
        <section id="cuentasPersonalizadas"></section>
        <!-- Renovaciones -->
        <h5 class="mb-0">Cuentas renovaciones (<span id="countRenovaciones">0</span>)</h5>
        <section id="cuentasRenovaciones"></section>
        <!-- Juegos -->
        <h5 class="mb-0">Cuentas juegos (<span id="countJuegos">0</span>)</h5>
        <section id="cuentasJuegos"></section>
        <!-- Consignaciones -->
        <h5 class="mb-0">Consignaciones (<span id="countConsignaciones">0</span>)</h5>
        <section id="consignaciones"></section>
        <!-- Links PSE -->
        <h5 class="mb-0">Links PSE (<span id="countPse">0</span>)</h5>
        <section id="linksPse"></section>
        <!-- Reclamaciones -->
        <h5 class="mb-0">Reclamaciones (<span id="countReclamaciones">0</span>)</h5>
        <section id="reclamaciones"></section>
    </div>
</div>
<!-- End Sidebar -->
