:root {
    /* --orange: #ec6608; */
    --orange: #ff6600;
    --blue: #071329;
    --blue_soft: #0a2351;
    --blue_dark: #0a1d40;
    --white: #ffffff;
    --yellow: #ff9900;
    --blue_soft-secundary: #132951;
    --brown: #802e00;
    --secundary_orange: #ff6600;
    --tercer_orange: #d14905;
    --sm_s: 1.55rem;
    --sm: 1.6rem;
    --md: 2rem;
    --md-l: 2.4rem;
    --bg-md: 4.4rem;
    --bg: 6.4rem;
    --bg-l: 10rem;
}
html body {
    background-color: var(--white);
}
main {
    clip-path: polygon(
        100% 0,
        100% 44%,
        70% 81%,
        35% 69%,
        19% 76%,
        0% 60%,
        0 0
    );
    background: linear-gradient(
        325deg,
        rgba(19, 41, 81, 1) 0%,
        rgba(19, 41, 81, 1) 64%,
        rgba(255, 102, 0, 1) 50%,
        rgba(255, 102, 0, 1) 100%
    );
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    padding: 80px;
}
.objective {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.objective_itm-circles {
    width: 30px;
    height: 30px;
    background-color: var(--orange);
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: calc(50% - 15px);
}
.objective_l {
    padding: 0 40px 0 0;
}
.objective_l-itm {
    height: 2px;
    background-color: var(--orange);
    width: 100%;
    position: relative;
}
.objective_l-itm2 {
    width: 50%;
    margin-top: 40px;
}
.objective_r {
    transform: rotate(180deg);
    margin-top: 40px;
}
.objective_r .objective_l-itm3 {
    margin-top: 40px;
}
.objective_r {
    padding-right: 40px;
}
.objective_c {
    text-align: center;
    color: var(--orange);
}
.char {
    margin-top: 200px;
    background-color: var(--blue);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding: 0 48px;
}
.char_itm {
    background-color: var(--orange);
    padding: 40px;
    position: relative;
    margin-top: -140px;
}
.char_itm div {
    width: 120px;
    height: 120px;
    background-color: #ff7800;
    border-radius: 50%;
}
.char_itm h3 {
    color: var(--white);
    font-size: var(--md);
    margin: 48px 0;
}
.char_itm p {
    color: var(--white);
    font-size: 300;
    margin-bottom: 100px;
}
.chair_itm-circle {
    position: absolute;
    background-color: #ff7800;
    width: 100%;
    height: 20px;
    border-radius: 50%;
    top: -10px;
    left: 0;
}
.lenguages {
    background-color: #071329;
    display: grid;
    padding: 40px 48px;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    column-gap: 28px;
}

.lenguajes_itm {
    display: grid;
    background-color: var(--blue_soft);
    padding-left: 40px;
    grid-template-columns: repeat(3, 1fr);
    height: calc(100% + 38px);
}
.lenguajes_itm-dec {
    background: #0d1b36;
    width: 100%;
    height: 100%;
    grid-area: 1 / 3 / 100 /4;
}
.lenguajes_itm-figure {
    background-color: var(--white);
    border-radius: 20px;
    margin: 40px 0;
}

.lenguajes_itm-figure,
.lenguajes_itm-figure img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.lenguajes_itm-title {
    grid-area: 2;
    color: var(--white);
    font-size: var(--md-l);
    margin: 20px 0;
}
.lengaujes_itm-relative {
}
