:root {
    --orange: #ff6600;
    --blue: #071329;
    --blue_soft: #0a2351;
    --blue_dark: #0a1d40;
    --white: #ffffff;
    --yellow: #ff9900;
    --blue_soft-secundary: #132951;
    --brown: #802e00;
    --secundary_orange: #ff7800;
    --sm_s: 1.55rem;
    --sm: 1.6rem;
    --md: 2rem;
    --md-l: 2.4rem;
    --bg: 4.4rem;
    --bg-l: 12rem;
    --tercer_orange: #d14905;
}
.article-l_description {
    font-weight: 500;
}
@font-face {
    font-family: Wallman Love;
    src: url(../fonts/Wallman-Bold-free.ttf);
}
html body {
    margin: 0 0 0 8vw;
    background-color: var(--blue);
}
html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--sm);
}
.aside_figure-img2 {
    display: none;
}
.aside {
    width: 8vw;
    display: inline-block;
    background-color: var(--blue);
    position: fixed;
    height: 100%;
    box-shadow: 0px 3px 6px #00000029;
    top: 0;
    left: 0;
}
.generalButton {
    background-color: var(--orange);
    color: var(--blue);
    outline: none;
    border: none;
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
.aside_ul {
    height: 100vh;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr;
}
.aside_ul-a {
    text-decoration: none;
}
.aside_ul-a li,
.aside_ul {
    list-style: none;
}

.aside_ul-a,
.aside_a-button {
    transform: rotate(270deg);
}
.aside_a-button {
    transform: rotate(360deg);
}
.aside_ul li {
    color: var(--orange);
    font-weight: bold;
    font-size: 1.4rem;
}

.aside_li-a button li {
    color: var(--blue);
}
footer {
    background-color: var(--blue);
}
.special_footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    padding: 80px;
    align-items: center;
}
.special_footer-itm {
    background-color: var(--orange);
    color: var(--white);
    padding: 60px;
    width: 90%;
    height: auto;
}
.special_footer-itm:last-child {
    justify-self: center;
}
.special_footer-itm h4 {
    font-size: 3rem;
    margin-bottom: 12px;
}
.special_footer-itm p {
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 12px;
}
.special_footer-itm button {
    background-color: transparent;
    border: 1px solid var(--white);
    padding: 12px 32px;
    font-weight: 500;
    font-size: var(--sm);
    color: var(--white);
}
.footer_column {
    color: var(--orange);
}
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 80px;
}
.footer_column-b {
    font-weight: bold;
    font-size: var(--sm);
    line-height: 27px;
}
.footer_column li,
.footer_column-b {
    font-size: var(--sm);
}
.footer_column li {
    list-style: none;
}
.footer_column1-list {
    margin-bottom: 32px;
}
.copy {
    grid-area: 2/1/3/-1;
    color: var(--orange);
}
.app {
    background-color: #0a1d40;
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    place-items: center;
    padding: 80px 0;
}
.app_arrow-l,
.app_arrow-l img,
.app_arrow-r,
.app_arrow-r img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.app_center {
    display: flex;
}
.app_center-itm {
    height: 48px;
    width: 160px;
    background-color: var(--white);
    border-radius: 8px;
    margin: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app_center-itm figure,
.app_center-itm figure img {
    height: 32px;
    object-fit: contain;
}
.app_arrow-r {
    transform: rotate(180deg);
}
.header_itm3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_menu {
    display: grid;
    row-gap: 4px;
}
.header_menu-item {
    height: 4px;
    width: 28px;
    background: #fff;
    border-radius: 20px;
}

.headerMenuItm1_start {
    transform: rotate(45deg);
    transition: all 0.6s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.headerMenuItm3_start {
    position: absolute;
    transform: rotate(138deg);
    transition: all 0.6s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.headerMenuItm2_none {
    opacity: 0;
    transition: all 0.1s ease-out;
}
.menu_none {
    transform: translatex(-624px);
    transition: all 0.5s ease-in;
    display: none;
}
.header_itm3-margin {
    margin-top: 8px;
}
#menu {
    position: fixed;
    top: 0;
    width: 80%;
    height: 100vh;
    background: #071329;
    box-shadow: 4px 0px 19px #00000096;
}
.menu_display {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.menu_display ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px 0;
}
.menu_display ul li {
    list-style: none;
    color: var(--orange);
    font-weight: bold;
    font-size: 1.6rem;
}

@media (max-width: 768px) {
    .aside_ul-a,
    .aside_a-button {
        transform: rotate(0deg);
    }
    .aside {
        width: 100vw;
        background-color: var(--blue);
        box-shadow: 0px 3px 6px #00000029;
        height: auto;
    }
    .aside_ul {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
        height: 70px;
        grid-template-rows: 1fr;
    }
    .aside_ul {
        padding: 0 1px 0 7px;
    }
    .aside_ul li {
        font-size: 1.6rem;
    }
}
@media (max-width: 425px) {
    .aside_ul-a {
        display: none;
    }
    .aside_figure-img2 {
        display: inline-block;
    }
    .aside_figure-img {
        display: none;
    }
    .main_article-logo figure img {
        display: none;
    }
    .aside_ul {
        padding: 0px 14px 0 21px;
    }
}

@media (max-width: 813px) {
    footer {
        padding: 60px 20px;
    }
    .special_footer {
        padding: 80px 20px;
    }
    body .special_footer-itm {
        width: 100%;
    }
}
@media (max-width: 768px) {
    footer {
        grid-template-columns: repeat(2, 1fr);
    }
    .special_footer {
        grid-auto-flow: row;
        grid-template-columns: none;
    }
    .special_footer div {
        margin: 20px 0;
    }
    .footer_column:nth-child(3) {
        grid-area: 2 / 1;
    }
    footer .copy {
        grid-area: 4 / 1 / 4 / -1;
    }
    body .special_footer-itm {
        width: 70%;
        place-self: center;
    }
    html body {
        margin: 0 0 0 0vw;
    }
}
@media (max-width: 666px) {
    :root {
        --bg-l: 10rem;
    }
    body .special_footer-itm {
        width: 100%;
    }
    .world_article-line,
    .newsletter_r-line1 {
        width: 50%;
    }
    .nosotros {
        height: 750px;
    }
    .nosotros_l {
        padding: 0 15px;
    }
    footer {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }
    .footer_column:nth-child(3) {
        grid-area: 3 / 1;
    }
    body .special_footer-itm {
        width: 100%;
    }
}
@media (max-width: 320px) {
    body .special_footer-itm {
        padding: 0px;
    }
}
@media (max-width: 320px) {
    body .special_footer-itm {
        width: 90%;
        padding: 30px;
    }
}
@media (max-width: 1280px) {
    .app_center-itm {
        margin: 0px 16px;
    }
}
@media (max-width: 1200px) {
    .app_center {
        width: 100%;
        justify-content: space-between;
    }
    .app_center-itm {
        width: 136px;
    }

    .app_center-itm figure,
    .app_center-itm figure img {
        height: 24px;
    }
}
@media (max-width: 1000px) {
    .app {
        grid-template-columns: 48px 1fr 48px;
    }
    .app_center-itm:last-child {
        display: none;
    }
}
@media (max-width: 830px) {
    .app_center-itm:nth-child(3) {
        display: none;
    }
    .app_center-itm {
        width: 160px;
    }
    .app_center-itm figure,
    .app_center-itm figure img {
        height: 30px;
    }
}
@media (max-width: 640px) {
    .app_center-itm:nth-child(4) {
        display: none;
    }
    .app_center {
        justify-content: space-evenly;
    }
}
@media (max-width: 425px) {
    .app_center-itm:nth-child(2) {
        display: none;
    }
}
@media (max-width: 610px) {
    .aside_ul-a--Inicio,
    .aside_ul-a--Nosotros,
    .aside_ul-a--Desarrollo,
    .aside_ul-a--Diseño,
    .aside_ul-a {
        display: none;
    }
    .aside_ul {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}
@media (min-width: 611px) {
    .header_itm {
        display: none;
    }
}
