main {
  width: 86vw;
  display: inline-block;
  height: 88.2vh;
  background: url("../img/background-img.svg") center;
  background-position: 50% -40%;
  background-repeat: no-repeat;
  background-size: 80%;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_content {
  display: flex;
  height: 90vh;
  align-items: center;
}
.main_content article {
  width: 50%;
}
.main_article-l {
  padding: 0 12% 0 2%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 40px;
}
.main_article-r {
  padding: 0 7% 0 0%;
}
.article-l_title {
  color: var(--white);
  font-size: var(--bg);
  text-align: end;
  margin-bottom: 8px;
}
.article-l_description {
  color: var(--orange);
  text-align: end;
}

.article-l_buton .generalButton {
  margin-top: 24px;
}
.article_width {
  width: 100%;
  display: flex;
  justify-content: end;
}
.main_article-r {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "Backend Backend "
    "Blockchain Frontend"
    "Diseno Desarrollo";
  gap: 20px;
}
.article-r_cards {
  background-color: var(--orange);
  padding: 18px;
}
.article-r_cards_backend {
  grid-area: Backend;
}
.article-r_cards_blockchain {
  grid-area: Blockchain;
}
.article-r_cards_frontend {
  grid-area: Frontend;
}
.article-r_cards_backend_design {
  grid-area: Diseno;
}
.article-r_cards_backend_mobile {
  grid-area: Desarrollo;
}
article .article-r_cards {
  width: 100%;
  height: 140px;
  border-radius: 12px;
}
.cards-backend-container {
  display: flex;
  align-items: center;
}
.cards-backend_figure {
  background-color: var(--secundary_orange);
  width: 48px;
  height: 48px;
  border-radius: 12px;
}
.cards-backend_line {
  width: 90%;
  background-color: var(--secundary_orange);
  height: 20px;
  border-radius: 0 12px 12px 0;
}
.article-r_cards {
  display: grid;
}
.article-r_cards h4 {
  align-self: center;
  justify-self: end;
  font-size: var(--md);
  color: var(--white);
}
.line_back {
  background-color: var(--secundary_orange);
  width: 100%;
  height: 4px;
  align-self: end;
  border-radius: 202%;
}
.cards-backend_line2 {
  width: 78%;
}
.main_article-logo {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 7%;
  margin-top: 24px;
}
a {
  text-decoration: none;
}
.center {
  align-self: center;
}
.main_article-line {
  width: 100%;
  height: 4px;
  background-color: #ac4005;
  border-radius: 40px;
}
@media (max-width: 1024px) {
  :root {
    --md: 1.8rem;
  }
}
@media (max-width: 768px) {
  body {
    margin: 0;
  }
  .main_content {
    flex-direction: column;
  }
  .main_content article {
    width: 90%;
  }
  .main_article-l {
    padding: 0;
    text-align: center;
  }
  .main_article-logo {
    padding: 0 5%;
    margin-top: 84px;
  }
  .article-l_title,
  .article-l_description {
    text-align: center;
    margin: 24px 0 20px 0;
  }
  .article_width {
    justify-content: center;
  }
  .main_article-line {
    display: none;
  }
  main {
    padding: 0 5%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main_content article {
    width: 100%;
  }

  .main_article-r {
    padding: 0;
  }
  article .article-r_cards {
    height: 180px;
  }

  main {
    background-position: 50% 100%;
    background-size: 95%;
    height: 100%;
  }
  .main_content {
    height: 100%;
  }
  .article-r_cards h4 {
    font-size: 2.4rem;
    align-self: end;
  }
}
@media (max-width: 425px) {
  body .main_article-r {
    grid-template-areas:
      "Backend Backend "
      "Blockchain Blockchain"
      "Frontend Frontend"
      "Diseno Diseno "
      "Desarrollo Desarrollo";
  }
}
