:root {
    /* --orange: #ec6608; */
    --orange: #ff6600;
    --blue: #071329;
    --blue_soft: #0a2351;
    --blue_dark: #0a1d40;
    --white: #ffffff;
    --yellow: #ff9900;
    --blue_soft-secundary: #132951;
    --brown: #802e00;
    --secundary_orange: #ff6600;
    --tercer_orange: #d14905;
    --sm_s: 1.55rem;
    --sm: 1.6rem;
    --md: 2rem;
    --md-l: 2.4rem;
    --bg-md: 4.4rem;
    --bg: 6.4rem;
    --bg-l: 10rem;
}
html body {
    background-color: var(--white);
}
.slider {
    background-color: var(--blue_soft-secundary);
    width: 100%;
    height: 87vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.slider_circle {
    height: 572px;
    background-color: var(--blue_dark);
    clip-path: circle(295% at 48% 534%);
    position: absolute;
    width: 100%;
    bottom: 0;
}
.content {
    z-index: 1;
    display: grid;
    grid-auto-flow: column;
    width: 90vw;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
}
.content_skills {
    display: flex;
}
.content_skills p {
    color: var(--yellow);
}
.content_background {
    background-color: var(--yellow);
    width: 42px;
    height: 42px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_background-circle {
    background-color: var(--white);
    width: 16px;
    height: 16px;
    border-radius: 50px;
}
.content_center1,
.content_center3 {
    width: 24px;
    height: 240px;
    background-color: var(--yellow);
    border-radius: 16px;
}
.content_center2,
.content_center2 img {
    width: 320px;
    height: 640px;
    object-fit: cover;
    border-radius: 40px;
}
.content_center1,
.content_center3 {
    z-index: 1;
}
.content_column2 {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 11px 307px 1px;
}
.content_center1 {
    align-self: end;
}
.content_center3 {
    margin-bottom: 460px;
    align-self: start;
}
.content_center2 {
    margin-top: 30px;
}
.content_column1,
.content_column3 {
    align-self: center;
    justify-self: end;
    margin-right: 55px;
    display: grid;
    gap: 44px;
}
.content_skills {
    display: flex;
    align-items: center;
}
.content_skills p {
    margin-right: 12px;
}
.content_column3 {
    justify-self: start;
    margin: 0 0 0 0px;
}
.content_column3 .content_skills p {
    margin: 0 0 0 12px;
}
.methodology {
    margin: 240px 0 120px 0;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    align-items: center;
    height: 200px;
}
.methodology_l {
    color: var(--orange);
}
.methodology_l h3,
.methodology_l span {
    font-size: var(--bg);
}
.methodology_l {
    text-align: end;
    padding: 0 40px;
}
.methodology_r br {
    margin: 8px 0;
}
.methodology_r {
    padding: 0 40px;
}
.methodology_r p {
    color: var(--orange);
    font-size: var(--sm);
    font-weight: 500;
}
.ourTeam {
    display: grid;
}
.ourTeam_r {
    background: var(--orange);
}
.ourTeam {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.ourTeam figure,
.ourTeam figure img {
    width: 100%;
    height: 480px;
    object-fit: cover;
}
.ourTeam_r {
    padding: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ourTeam_r {
    color: var(--white);
}
.ourTeam_r p {
    line-height: 20px;
}
body .ourTeam_r h5 {
    margin-top: 40px;
    text-align: start;
    font-size: var(--md);
}
.architecture {
    background-color: var(--blue_soft);
    padding: 80px 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    place-items: center;
}
.architecture_circles {
    background-color: var(--orange);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.architecture_circles2 {
    height: 400px;
    width: 400px;
}
.architecture_circles1,
.architecture_circles3 {
    width: 260px;
    height: 260px;
}
.architecture_circles-int {
    background-color: var(--white);
    width: 88%;
    height: 88%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.architecture_text {
    color: var(--secundary_orange);
    text-transform: capitalize;
    font-size: var(--md);
    font-weight: 500;
}
.architecture_text1,
.architecture_text3 {
    margin-top: -112px;
}
.architecture_text2 {
    margin-top: 20px;
}
.architecture_absoulute {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.architecture_absoulute-circle {
    background: var(--orange);
    border-radius: 50%;
}
.architecture_absoulute-circle1,
.architecture_absoulute-circle4 {
    width: 120px;
    height: 120px;
}
.architecture_absoulute-circle2,
.architecture_absoulute-circle3 {
    width: 80px;
    height: 80px;
}
.architecture_absoulute-circle1 {
    grid-area: 1/5/2/6;
    align-self: end;
}
.architecture_absoulute-circle3 {
    grid-area: 4/5/5/6;
}
.architecture_absoulute-circle2 {
    grid-area: 1/10/2/11;
    place-self: center;
}
.architecture_absoulute-circle4 {
    grid-area: 4/10/5/11;
}
.purposes {
    background-color: var(--blue);
    padding: 80px 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.purposes_itm {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    padding: 0 32px;
}
.purposes_itm p {
    width: 424px;
    margin-left: 20px;
    color: var(--white);
    font-weight: 300;
}
.purposes_itm-circle {
    background-color: var(--orange);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.purposes_itm4 {
    background-color: var(--orange);
}
.purposes_itm4 div {
    background: var(--blue_soft);
}
.team {
    background-color: #0a1d40;
    padding: 80px 40px;
}
.team_header {
    display: flex;
}
.team_header div {
    width: 50%;
}
.team_header-l h3 {
    color: var(--orange);
    font-weight: bold;
    font-size: var(--bg);
}
.team_header-l span {
    color: var(--white);
    font-family: Wallman Love;
    font-size: 3rem;
}
.team_header-r span {
    font-weight: 300;
    text-align: end;
    color: var(--white);
}
.team_all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team-header_sb {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.team_all-figure {
    border: 4px solid var(--orange);
    border-radius: 24px;
    height: 132px;
    width: 132px;
    padding: 4px;
}
.team_all-person {
    color: var(--white);
    margin-top: 8px;
}
.team_all-profesion {
    color: var(--orange);
    margin: 4px 0 0 0;
}
.team_all-button {
    padding: 8px 28px;
    background-color: var(--orange);
    font-weight: bold;
    font-size: var(--sm);
    outline: none;
    border: none;
    border-radius: 8px;
    color: var(--white);
    cursor: pointer;
    margin: 4px 0;
}
.team_all-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
    row-gap: 80px;
}
.app {
    background-color: #0a1d40;
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    place-items: center;
    padding: 80px 0;
}
.app_arrow-l,
.app_arrow-l img,
.app_arrow-r,
.app_arrow-r img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.app_center {
    display: flex;
}
.app_center-itm {
    height: 48px;
    width: 160px;
    background-color: var(--white);
    border-radius: 8px;
    margin: 0 24px;
}
.app_arrow-r {
    transform: rotate(180deg);
}
.special_footer {
    background-color: #0a1d40;
}
footer {
    padding: 240px 80px 100px 80px;
}
.special_footer {
    padding: 80px 80px 0 80px;
    margin-bottom: -200px;
}
