:root {
    /* --orange: #ec6608; */
    --orange: #ff6600;
    --blue: #071329;
    --blue_soft: #0a2351;
    --blue_dark: #0a1d40;
    --white: #ffffff;
    --yellow: #ff9900;
    --blue_soft-secundary: #132951;
    --brown: #802e00;
    --secundary_orange: #ff6600;
    --tercer_orange: #d14905;
    --sm_s: 1.55rem;
    --sm: 1.6rem;
    --md: 2rem;
    --md-l: 2.4rem;
    --bg-md: 4.4rem;
    --bg: 6.4rem;
    --bg-l: 10rem;
}
body {
    background-color: var(--blue_soft);
}
.slider {
    background-color: var(--blue_soft-secundary);
    width: 100%;
    height: 87vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.slider_circle {
    height: 572px;
    background-color: var(--blue_dark);
    clip-path: circle(295% at 48% 534%);
    position: absolute;
    width: 100%;
    bottom: 0;
}
.content {
    z-index: 1;
    display: grid;
    grid-auto-flow: column;
    width: 90vw;
    grid-template-columns: repeat(3, 1fr);
}
.content_skills {
    display: flex;
}
.content_skills p {
    color: var(--yellow);
}
.content_background {
    background-color: var(--yellow);
    width: 42px;
    height: 42px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_background-circle {
    background-color: var(--white);
    width: 16px;
    height: 16px;
    border-radius: 50px;
}
.content_center1,
.content_center3 {
    width: 24px;
    height: 240px;
    background-color: var(--yellow);
    border-radius: 16px;
}
.content_center2,
.content_center2 img {
    width: 320px;
    height: 640px;
    object-fit: cover;
    border-radius: 40px;
}
.content_center1,
.content_center3 {
    z-index: 1;
}
.content_column2 {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 11px 307px 1px;
}
.content_center1 {
    align-self: end;
}
.content_center3 {
    margin-bottom: 460px;
    align-self: start;
}
.content_center2 {
    margin-top: 30px;
}
.content_column1,
.content_column3 {
    align-self: center;
    justify-self: end;
    margin-right: 55px;
    display: grid;
    gap: 44px;
}
.content_skills {
    display: flex;
    align-items: center;
}
.content_skills p {
    margin-right: 12px;
}
.content_column3 {
    justify-self: start;
    margin: 0 0 0 0px;
}
