body {
  background: #303030;
}
.sidemenu-icon::before,
.sidemenu-label,
span .nav-label {
  color: #303030;
}
.sidemenu-label {
  font-weight: bold;
}

.sidemenu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header {
  background-color: #252525;
  border: none;
}
.main-content-title,
.page-header .breadcrumb-item a,
.page-header .breadcrumb-item.active {
  color: #ffc813;
}
.main-header-menu-icon span::before,
.main-header-menu-icon span::after {
  color: #ffc813 !important;
}
.fe-maximize:before,
.fe-bell:before {
  color: #ffc813;
}
.main-img-user {
  filter: grayscale(1);
}
.main-footer {
  background-color: #545454;
}
.main-footer .container .row .col-md-12,
.main-footer .container .row .col-md-12 a {
  color: #fff;
}
.iconito,
.iconito::after,
.iconito::before {
  background-color: #ffc813 !important;
}
.main-footer span {
  color: #fff;
}
.nav .nav-header .nav-label {
  color: #303030;
  font-weight: bold;
}
