body {
  background: #404040;
}
.main_ingreso {
  background-color: #404040;
  width: 100vw;
  height: calc(80vh + 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_ingreso .main_title h2 {
  font-size: 50px;
  color: #ffc813;
  font-weight: bold;
}
.main_ingreso label {
  color: #ffc813;
  font-size: 16px;
}
main .form-control {
  width: 30vw;
  border: 2px solid #ffc813;
  background: transparent;
  border-radius: 14px;
  outline: none;
  color: #7d6b31;
}
.form-control:focus {
  border-color: #032e4c;
}
.form-control::placeholder {
  color: #7d6b31;
}
body main .capza_button {
  width: 50% !important;
}
main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .capza_button {
  border-radius: 14px;
  color: #262626;
  background-color: #ffc813;
}

body main .capza_button:hover {
  background-color: #ffeaa3;
  color: #262626;
}
.lostPassword {
  color: #fff;
}

.main_ingreso {
  padding: 30px;
}
.footer_ingreso {
  background: #545454;
  padding: 30px 60px;
  justify-content: flex-end;
  margin-top: 40px;
}
.main_title {
  margin-top: 100px;
}
footer figure {
  width: 20%;
}
@media (max-width: 1024px) {
  .main_ingreso {
    height: calc(auto + 30px);
  }
  body main .capza_button,
  .form-control {
    width: 100% !important;
  }
  main form {
    width: 30%;
  }
  .form-group {
    width: 100%;
  }
  .main_title,
  . {
    margin-top: 80px;
  }
}
@media (max-width: 768px) {
  main form {
    width: 50%;
  }
  .main_title {
    margin-top: 50px;
  }
}
@media (max-width: 425px) {
  main form {
    width: 100%;
  }

  h2 {
    font-size: 32px;
  }
  .logo {
    margin-left: 16px;
  }
  .main_ingreso .main_title h2 {
    font-size: 30px;
  }
  .main_title {
    margin-top: 60px;
  }
  footer figure {
    width: auto;
  }
}
