body {
  background-color: #404040;
}
.section-recuperar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: cover;
  margin: 40px 0 0 0;
}

form {
  width: 60%;
}
.form_recovery {
  display: flex;
  width: 40%;
  flex-wrap: wrap;
  padding: 32px;
}
.form_recovery h2,
.form_recovery label {
  color: #ffc813;
}
.form_buttons {
  display: flex;
  justify-content: flex-end;
}
.form_container-input,
.form_buttons,
.form_buttons {
  width: 100%;
}
.form_recovery article {
  margin: 5px 0;
}
.form_container-input {
  display: flex;
  flex-direction: column;
}
.form_container-input input {
  border: 3px solid #ffc813;
  padding: 8px 16px;
  width: 100%;
  border-radius: 8px;
  color: #4e4006;
  outline: none;
}
.form_container-input input::placeholder {
  color: #4e4006;
}
.form_container-input input,
.form_container-input input::placeholder {
  font-size: 18px;
}
.form_buttons button {
  outline: none;
  border: none;
  border-radius: 14px;
  color: #262626;
  background-color: #ffc813;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
button {
  outline: none;
}
section {
  background: url(../img/aloneCapza.svg) no-repeat;
  background-position: 50% 200px;
  height: 80vh;
}
@media (max-width: 1024px) {
  .form_recovery {
    width: 60vw;
  }
}
@media (max-width: 768px) {
  .form_recovery {
    width: 90%;
  }
}
@media (max-width: 425px) {
  .form_recovery {
    padding: 16px;
  }
}
