        <!-- Back-to-top -->
        <a href="#top" id="back-to-top"><i class="fe fe-arrow-up"></i></a>

       <!-- Jquery js-->
		<script src="/assetsDashboard/plugins/jquery/jquery.min.js"></script>

		<!-- Bootstrap js-->
		<script src="/assetsDashboard/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Jquery-Ui js-->
		<script src="/assetsDashboard/plugins/jquery-ui/ui/widgets/datepicker.js"></script>

		<!-- Internal Daternagepicker js-->
		<script src="/assetsDashboard/plugins/bootstrap-daterangepicker/moment.min.js"></script>
		<script src="/assetsDashboard/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

		<!-- Internal Sweet-Alert js-->
		<script src="/assetsDashboard/plugins/sweet-alert/sweetalert.min.js"></script>
		<script src="/assetsDashboard/plugins/sweet-alert/jquery.sweet-alert.js"></script>

		<!-- Internal Fileuploads js-->
		<script src="/assetsDashboard/plugins/fileuploads/js/fileupload.js"></script>
        <script src="/assetsDashboard/plugins/fileuploads/js/file-upload.js"></script>

		<!-- InternalFancy uploader js-->
		<script src="/assetsDashboard/plugins/fancyuploder/jquery.ui.widget.js"></script>
        <script src="/assetsDashboard/plugins/fancyuploder/jquery.fileupload.js"></script>
        <script src="/assetsDashboard/plugins/fancyuploder/jquery.iframe-transport.js"></script>
        <script src="/assetsDashboard/plugins/fancyuploder/jquery.fancy-fileupload.js"></script>
        <script src="/assetsDashboard/plugins/fancyuploder/fancy-uploader.js"></script>

		<!-- Internal Form-elements js-->
		<script src="/assetsDashboard/js/advanced-form-elements.js"></script>
		<script src="/assetsDashboard/js/select2.js"></script>

		<!-- Internal TelephoneInput js-->
		<script src="/assetsDashboard/plugins/telephoneinput/telephoneinput.js"></script>
		<script src="/assetsDashboard/plugins/telephoneinput/inttelephoneinput.js"></script>

		<!-- Perfect-scrollbar js -->
		<script src="/assetsDashboard/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

		<!-- Sidemenu js -->
		<script src="/assetsDashboard/plugins/sidemenu/sidemenu1.js"></script>

		<!-- Sidebar js -->
		<script src="/assetsDashboard/plugins/sidebar/sidebar.js"></script>

		<!-- Select2 js-->
		<script src="/assetsDashboard/plugins/select2/js/select2.min.js"></script>

		<!-- Sticky js -->
		<script src="/assetsDashboard/js/sticky.js"></script>

		<!-- Custom js -->
		<script src="/assetsDashboard/js/custom.js"></script>

		<!-- Axios -->
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    </body>
</html>