<footer class="footer">
  <article class="footer_icon">
    <figure><img src="assetsInicio/img/logo.svg" alt="" /></figure>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quis,
      asperiores vero sint in, expedita porro maxime earum voluptatibus, rem
      quas sed eveniet magnam similique inventore. Ad ullam possimus soluta.
    </p>
  </article>
  <article class="footer_list">
    <ul class="footer_list-ul">
      <a href=""> <li>Nosotros</li> </a
      ><a href=""> <li>Servicios</li> </a
      ><a href=""> <li>Iniciar Sesión</li> </a
      ><a href="">
        <li>
          <button class="footer_button">Contactanos</button>
        </li>
      </a>
    </ul>
  </article>
  <article>
    <div class="footer_media">
      <figure><img src="assetsInicio/img/facebook.svg" alt="" /></figure>
      <figure><img src="assetsInicio/img/instagram.svg" alt="" /></figure>
      <figure><img src="assetsInicio/img/youtube.svg" alt="" /></figure>
      <figure><img src="assetsInicio/img/linkedin.svg" alt="" /></figure>
    </div>
    <p>Terminos y condiciones</p>
    <p>Politicas y privacidad</p>
  </article>
</footer>
