<section class="special_footer">
    <div class="special_footer-itm">
        <h4>Especialistas en</h4>
        <p>
            Contamos con un equipo de profesionales altamente capacitados en un
            catálogo diverso de lenguajes de programación, nos enfocamos en el
            desarrollo de productos digitales funcionales que sean confiables,
            seguros y eficientes.
        </p>
        <button>Más información</button>
    </div>
    <div class="special_footer-itm">
        <h4>Aún hay más...</h4>
        <p>
            Lo que vemos también importa, nuestros profesionales en diseño te
            ayudarán a abrirte camino en el mundo digital con soluciones
            gráficas que se ajusten a tus necesidades.
        </p>
        <button>Más información</button>
    </div>
</section>
<footer>
    <section class="footer_column">
        <p class="footer_column-b">Area comercial:</p>
        <ul class="footer_column1-list">
            <li>gerencia@digiworld.com.co</li>
            <li>esteban.dev@digiworld.com.co</li>
        </ul>
        <p class="footer_column-b">Soporte:</p>
        <ul class="footer_column1-list">
            <li>juan.dev@digiworld.com.co</li>
            <li>dilan.dev@digiworld.com.co</li>
        </ul>
        <p class="footer_column-b">Dirección:</p>
        <ul class="footer_column1-list">
            <li>Cra 32 # 12-226, Soacha</li>
        </ul>
    </section>
    <section class="footer_column">
        <p class="footer_column-b">Diseño Grafico:</p>
        <ul class="footer_column1-list">
            <li>diego.design@digiworld.com.co</li>
        </ul>
        <ul class="footer_column-b">
            <li>Cel: (+57) 305 896 9053</li>
            <li>Cel: (+57) 314 289 4388</li>
            <li>Tel: (+1) 840 9103</li>
        </ul>
    </section>
    <section class="footer_column">
        <figure><img src="./assetsInicio/img/iconL.svg" alt="" /></figure>
    </section>
    <p class="copy">
        Copyright 2021 © DIGIWORLD DESARROLLO Y DISEÑO SAS. Derechos reservado.
    </p>
</footer>
<script src="assetsInicio/js/index.js"></script>
