<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <meta name="description" content="Il Salone" />
    <meta name="author" content="Digiworld Marketing SAS" />
    <meta name="keywords" content="" />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      href="assetsDashboard/img/aloneCapzaWhite.svg"
    />

    <!-- Title -->
    <title>Capza | <%- nombrePagina %></title>

    <!-- Bootstrap css-->
    <link
      href="/assetsDashboard/plugins/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Icons css-->
    <link
      href="/assetsDashboard/plugins/web-fonts/icons.css"
      rel="stylesheet"
    />
    <link
      href="/assetsDashboard/plugins/web-fonts/font-awesome/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="/assetsDashboard/plugins/web-fonts/plugin.css"
      rel="stylesheet"
    />

    <!-- Internal Sweet-Alert css-->
    <link
      href="/assetsDashboard/plugins/sweet-alert/sweetalert.css"
      rel="stylesheet"
    />

    <!-- Style css-->
    <link href="/assetsDashboard/css/style.css" rel="stylesheet" />
    <link href="/assetsDashboard/css/skins.css" rel="stylesheet" />
    <link href="/assetsDashboard/css/dark-style.css" rel="stylesheet" />
    <link href="/assetsDashboard/css/colors/default.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"
    />
    <link href="/assetsDashboard/css/only_r.css" rel="stylesheet" />

    <!-- Color css-->
    <link
      id="theme"
      rel="stylesheet"
      type="text/css"
      media="all"
      href="/assetsDashboard/css/colors/color.css"
    />

    <!-- Select2 css -->
    <link
      href="/assetsDashboard/plugins/select2/css/select2.min.css"
      rel="stylesheet"
    />

    <!-- Internal Daterangepicker css-->
    <link
      href="/assetsDashboard/plugins/bootstrap-daterangepicker/daterangepicker.css"
      rel="stylesheet"
    />

    <!-- InternalFileupload css-->
    <link
      href="/assetsDashboard/plugins/fileuploads/css/fileupload.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- InternalFancy uploader css-->
    <link
      href="/assetsDashboard/plugins/fancyuploder/fancy_fileupload.css"
      rel="stylesheet"
    />

    <!-- Internal TelephoneInput css-->
    <link
      rel="stylesheet"
      href="/assetsDashboard/plugins/telephoneinput/telephoneinput.css"
    />

    <!-- Sidemenu css-->
    <link href="/assetsDashboard/css/sidemenu/sidemenu.css" rel="stylesheet" />

    <link href="assetsInicio/css/style.css" rel="stylesheet" />
  </head>
</html>
