<aside class="aside">
  <section class="aside_container">
    <ul class="aside_ul">
      <li>
        <figure class="aside_figure">
          <img
            src="./assetsInicio/img/iconDigiworld.svg"
            alt=""
            class="aside_figure-img"
          />
        </figure>
      </li>
      <a href="" class="aside_ul-a aside_ul-a--Inicio">
        <li>Inicio</li>
      </a>
      <a href="" class="aside_ul-a aside_ul-a--Nosotros">
        <li>Nosotros</li>
      </a>
      <a href="" class="aside_ul-a aside_ul-a--Desarrollo">
        <li>Desarrollo</li>
      </a>
      <a href="" class="aside_ul-a aside_ul-a--Diseño">
        <li>Diseño</li>
      </a>
      <a href="" class="aside_li-a">
        <button class="aside_a-button generalButton">
          <li class="aside_a-li">Contactanos</li>
        </button>
      </a>
    </ul>
  </section>
</aside>
