<aside class="aside">
    <section class="aside_container">
        <ul class="aside_ul">
            <li>
                <figure class="aside_figure">
                    <img
                        src="./assetsInicio/img/iconDigiworld.svg"
                        alt=""
                        class="aside_figure-img"
                    />
                    <img
                        src="./assetsInicio/img/iconL.svg"
                        alt=""
                        class="aside_figure-img2"
                    />
                </figure>
            </li>
            <a href="/inicio" class="aside_ul-a aside_ul-a--Inicio">
                <li>Inicio</li>
            </a>
            <a href="/nosotros" class="aside_ul-a aside_ul-a--Nosotros">
                <li>Nosotros</li>
            </a>
            <a href="/desarrollo" class="aside_ul-a aside_ul-a--Desarrollo">
                <li>Desarrollo</li>
            </a>
            <a href="/design" class="aside_ul-a aside_ul-a--Diseño">
                <li>Diseño</li>
            </a>
            <a href="/contacto" class="aside_li-a aside_ul-a">
                <button class="aside_a-button generalButton">
                    <li class="aside_a-li">Contactanos</li>
                </button>
            </a>
            <li>
                <section class="header_itm header_itm3" id="header_itm3">
                    <article class="header_menu" id="headerMenuOpen">
                        <div class="header_menu-item" id="headerMenuItm1"></div>
                        <div class="header_menu-item" id="headerMenuItm2"></div>
                        <div class="header_menu-item" id="headerMenuItm3"></div>
                    </article>
                </section>
            </li>
        </ul>
    </section>
</aside>
<div class="menu_none" id="menu">
    <ul>
        <li>
            <figure>
                <img src="./assetsInicio/img/iconL.svg" alt="" />
            </figure>
        </li>
        <a href="/inicio">
            <li>Inicio</li>
        </a>
        <a href="/nosotros">
            <li>Nosotros</li>
        </a>
        <a href="/desarrollo">
            <li>Desarrollo</li>
        </a>
        <a href="/contacto">
            <li>Diseño</li>
        </a>
        <li>
            <a href="/design">
                <button class="aside_a-button generalButton">
                    Contactenos
                </button>
            </a>
        </li>
    </ul>
</div>
