<div class="head-signin section-gradient-vertical2 w-100 py-4 align-content-center align-items-center text-center diplay-mobile">
    <a href="/inicio">
        <img src="assetsInicio/img/logo_white.svg" width="180px" alt="Logo Il Salone">
    </a>
</div>